
.password-card-grid {
    flex-wrap: wrap;
}

.password-card-grid>div {
        width: 300px;
}

.password-card {
    .password-card-image {
        background-color: rgba(236, 236, 236, 0.767);
        position: relative;
        .password-card-image-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: darkgray;
        }
    }
}
