.topbar {
    top: 0;
    background-color: royalblue;
    .topbar-hold {
        position: relative;
        height: $topbar-height;
        border-radius: inherit;
        padding: 0 1rem;
    }
    position: relative;
    height: $topbar-height;
    border-radius: inherit;
    padding: 0 1rem;
}