// Colors
$text-body: var(--text-body);

// Typography
$font-weight-base: 400;
$font-size-base: 0.875rem;
$font-family-base: Roboto,
"Helvetica Neue",
sans-serif !default;

// Top Bar Layout
$topbar-height: 64px;