.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-middle {
    align-items: center;
}

// Positions
.position-relative {
    position: relative;
}

.position-bottom {
    position: absolute;
    bottom: 0;
}

.y-center {
    top: 50%;
    transform: translateY(-50%);
}
